/* Css for the landing page while the site is under construction */

* {
    line-height: 1.2;
    margin: 0;
}

html {
    background-color: rgb(26, 26, 26);
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
    overflow: hidden; /* hiding the extra parts of the city image */
}

h1 {
    color: rgb(80, 80, 80);
    font-size: 2em;
    font-weight: 400;
}

p {
    margin: 0 auto;
    width: 280px;
}

#Info-text {
    position: absolute;
    z-index: 20;
    margin: 20% 45%;
    padding: 20px 10px 5px 10px;
    width: 500px;
    height: 100px;
    background: rgba(252, 252, 252, 0.8);
    border: rgb(26, 26, 26) solid 2px;
    border-radius: 9px;
}

#City-Background img {
    position: sticky;
    z-index: -1;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 100vh;
}

/* Clouds */
#Cloud1 {
    width: 900px;
    height: 320px;
    position: absolute;
    left: 0px;
    top: 320px;
    z-index: 10;
}

#Cloud2 {
    width: 2000px;
    height: 600px;
    position: absolute;
    left: -1000px;
    top: 0px;
    z-index: 1;
}


@media only screen and (max-width: 280px) {

    body, p {
        width: 95%;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }

}