/* My Main Css File */

/* CSS Vars */
:root {
  --bg-color-nav: rgb(44, 54, 61);
  --bg-color-main: rgb(31, 35, 39);
  --bg-color-nav-top: rgb(171, 217, 255);

  --test-color2: rgb(61, 126, 180);
  --test-color4: rgb(47, 91, 128);
  --test-color5: rgb(137, 174, 204);
}

/*transition: width 2s, height 2s, transform 2s;*/

#NavBar {
  width: 3%;
  height: 100%;
  background-color: var(--bg-color-nav);
  background-image: linear-gradient(var(--bg-color-nav-top), var(--bg-color-nav));
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
}

.logo img {
  padding: 0;
  margin: 0;
  width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

#main {
  padding-left: 3%;
  width: 97%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-color-main);
}
