/* My Main Css File */

/* Icon Fonts */
@font-face {
  font-family: icomoon;
  src: url(../fonts/IcoMoon-Free.ttf);
}

/* CSS Vars */
:root {
  --bg-color-nav: rgb(44, 54, 61);
  --bg-color-main: rgb(31, 35, 39);
  --bg-color-nav-top: rgb(171, 217, 255);
  --icon-color-main: rgb(62, 139, 202);
  --icon-color-transis: rgb(0, 255, 136);
  --box-color: rgb(104, 142, 175);
  --darkBlue-text: rgb(8, 34, 56);

  --test-color1: rgb(47, 91, 128);
  --test-color2: rgb(137, 174, 204);
}

html, body {
  color: #fff;
  margin: 0;
  padding: 0;  
  height: 100%;
  background-color: var(--bg-color-main);
}

/* Main Page looks */

#NavBar {
  width: 60px;
  height: 100%;
  background-color: var(--bg-color-nav);
  background-image: linear-gradient(var(--bg-color-nav), var(--bg-color-nav));
  position: absolute;
  top: 0;
  min-height: 500px;
  margin-right: 60px;
}

.logo img {
  background-color: var(--bg-color-nav-top);
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.nav-links {
  display: block;
  padding-top: 400px;
  width: 50%;
  height: 100px;
  margin: auto;
}

.icon {
  font-family: 'icomoon';
  font-size: 1.4rem;
  font-style: normal;
  font-kerning: auto;
  display: inline-block;
  padding: 20px 0 0 0;  
  transition: color .5s ease-in-out;
}
  .icon:hover {
    color: var(--icon-color-transis);
  }



/* Home Page */

#home {
  height: 0;
  font-size: 1.4rem;
}

.italics {
  font-style: italic;
}

.me {
  width: 500px;
  height: 387px;
  border-radius: 50%;
}

/*https://www.w3schools.com/css/css3_transitions.asp*/
.jiggle {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 90%;
  transition: width 2s linear 1s;
}

  .jiggle:hover {
    will-change: transform;
      opacity: 0;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out
  }

/* Conact Page */

#Contact {
  margin: 0;
  padding: 10% 0 20% 35%;
  padding: auto;
  background-color: var(---darkBlue-text);
}

#About {
  padding: auto;
  margin: auto;
}

#Languages {
  background-color: var(--box-color);
  padding: 20px;
}

#Tools {
  background-color: var(--box-color);
  padding: 20px;
}

.container {
  display: block;
}

.card-body {
  color: var(--darkBlue-text);
}