:root{
    --primary: rgb(239, 241, 243);
    --secondary: rgb(0, 159, 183);
    --accent-1: rgba(219, 174, 11, 0.6);
    --accent-1-dark: rgba(233, 182, 0, 0.6);
    --accent-2: rgb(68, 68, 68);
    --card: rgba(46, 208, 248, 0.8);
    --dark-text: rgb(0, 0, 0);
    --light-text: rgb(255, 255, 255);

    /* color palette */
    --eerieBlack: rgb(39, 39, 39); /*white text*/
    --orangeYellow: rgb(245, 215, 102); /*black text*/
    --blueMunsell: rgb(0, 159, 183); /*white text*/
    --dimGrey: rgb(105, 103, 115); /*white text*/
    --offWhite: rgb(239, 241, 243); /*black text*/
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

* { z-index: 10; }

/* ---------- Globals ---------- */
html, body {
    font-family: Montserrat, sans-serif;
    font-kerning: auto;
    color: var(--dark-text);
    padding: 0;
    margin: 0;
    overflow-x: hidden; /*hiding shapes*/
}

/* Setting Text Color */
h1, h2, h3, h4, h5, h6, strong{
    color: var(--dark-text);
}

/* no underlines on links */
a {
    text-decoration: none;
    color: var(--dark-text);
}

/* Setting Sizes */
h1 { font-size: 5rem; }
h2 { font-size: 4.5rem; }
h3 { font-size: 4.5; }
h4 { font-size: 3rem; }
h5 { font-size: 2.5rem; }
h6 { font-size: 2rem; }

/* setting CSS Grids */
.s1 { grid-area: nav; }
.s2 { grid-area: about; }
.s3 { grid-area: portfolio; }
.s4 { grid-area: contact; }
.s5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-columns: 120px auto auto;
    grid-template-areas:
    'nav about about about about about'
    'nav portfolio portfolio portfolio portfolio portfolio'
    'nav contact contact contact contact contact'
    'nav footer footer footer footer footer';
    grid-gap: 5px; /* space between Grids */
    background-color: var(--primary);
}

.grid-container > div {
    text-align: center;
    font-size: 20px;
}

/*Test image*/
/*background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');*/

/* ---------- Containers ---------- */
.s1 {
    background-color:var(--accent-2);
}

/* About */
.s2 {
    height: 100vh;
    margin-top: 20%;
}

/* Portfolio */
.s3 {
    padding: 50px 0;
}

/* Contact */
.s4 {
    border: 2px solid rgb(123, 255, 173);
}

/* Footer */
.s5 {
    border: 2px solid rgb(255, 123, 0);
    overflow: hidden;
}

/* Nav */
.centerNav {
    position: fixed;
    top: 49%;
    left: 0%;
    transform: translate(0%, -50%);    
}

/* ---------- Cards ---------- */

.card {
    background-color: var(--card);
    border: 3px solid rgb(0, 98, 122);
}
.card-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-gap: 10px 10px;
}

.card-title {
    color: var(--eerieBlack);
    font-size: 40px;
    font-weight: 800;
    font-style: oblique;
    text-shadow: 2px 2px 3px var(--primary);
}

.card > img {
    margin: 10px;
    height: 60%;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 30px 50px -20px rgba(0, 0, 0);
}

.card-body {
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 5px;
}

.card-body > p:first-child {
    font-size: 22px;
    font-weight: 600;
    border-bottom: solid 1px var(--dimGrey);
}

.button {
    margin: 20px;
    padding: 15px 45px;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.849);
    border: 2px solid var(--eerieBlack);
    color: var(--dark-text);
    
    outline: none;
    transition: background-color 0.2s, color 0.2s, border 0.2s, transform 0.2s;
}
    .button:hover {
        border: 1px solid var(--orangeYellow);
        background-color: var(--orangeYellow);
        color: var(--eerieBlack);
        transform: scale(1.1,1.1);
    }

.button > img {
    height: 32px;
    width: 32px;
}

/* ---------- custom elements ---------- */

ul li {
    background: rgba(210, 228, 250, 0.7);
    margin: 5px;
    text-align: left;
  }

.button-small {
    display: block;
    padding: 10px;
    margin: 40px 10px;
    color: rgb(255, 255, 255);
    border: 3px solid var(--secondary);
}

/* background shapes */
.triangle-1 {
    position: absolute;
    top: 80%;
    border-left: 3000px solid var(--accent-1);
    border-right: 1000px solid transparent;
    border-bottom: 610px solid transparent;
    border-top: 800px solid transparent;
}

.triangle-2 {
    position: absolute;
    top: 30%;
    left: 65%;
    border-left: 1000px solid var(--accent-2);
    border-right: 1000px solid transparent;
    border-bottom: 600px solid transparent;
    border-top: 600px solid transparent;
    transform: rotate(0.2turn);        
}

.triangle-3 {
    position: absolute;
    top: -40%;
    border-left: 2000px solid var(--accent-1-dark);
    border-right: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-top: 20px solid transparent;
}

.triangle-4 {
    position: absolute;
    bottom: -340%;
    border-left: 2000px solid rgb(255, 0, 179);
    border-right: 200px solid transparent;
    border-bottom: 200px solid transparent;
    border-top: 500px solid transparent;
    
}

/* .shape {
    width: 100%;
    height: 100%;
    background-color: var(--blueMunsell);
    clip-path: polygon(100% 51%, 0 0, 0 100%);
} */

/* Helpers */
.small-cursive {
    font-size: 1rem;
    font-style: italic;
}

.background-Shapes {
    z-index: 0;
    overflow: hidden;
}

/* Media Queries */

/* Medium */
@media screen and (max-width: 2000px) {

    .grid-container {
        grid-template-columns: 120px auto;
        grid-template-areas:
        'nav about about'
        'nav portfolio portfolio'
        'nav contact contact'
        'nav footer footer';
    }

    .card-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

/* Small */
@media screen and (max-width: 1500px) {

    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.2; }
    h4 { font-size: 1rem; }
    h5 { font-size: 1.5rem; }
    h6 { font-size: 1rem; }
    p { padding: 20px; }

    /* move nav create hiding */
    .grid-container {
        grid-template-columns: 120px auto;
        grid-template-areas:
        'nav about'
        'nav portfolio'
        'nav contact'
        'nav footer';
    }

    .card-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

}